/* extracted from production bundle */
star-rating-overlay{display:flex;align-items:center;box-shadow:0 3px 3px -2px #0003,0 3px 4px #00000024,0 1px 8px #0000001f;border-radius:4px;background-color:var(--be-background);padding:10px 18px 10px 10px;color:var(--be-text)}star-rating-overlay .stars{padding-left:5px;margin-left:5px;border-left:1px solid var(--be-divider-default)}

