/* extracted from production bundle */
:host{display:block;border-bottom:1px solid var(--be-divider-default);margin-bottom:15px}.text{font-size:1.6rem;margin-bottom:15px}.card-icons{display:flex;align-items:flex-start;flex-wrap:wrap;margin-bottom:25px}.card-icons   img{margin-right:5px;width:50px;height:auto;margin-bottom:5px}
