/* extracted from production bundle */
crupdate-credit-modal{display:block;width:400px;max-width:100%}crupdate-credit-modal search-input input{border-color:var(--be-divider-default);margin-bottom:20px}

crupdate-credit-modal{display:block;width:400px;max-width:100%}crupdate-credit-modal search-input input{border-color:var(--be-divider-default);margin-bottom:20px}

