/* extracted from production bundle */
:host{display:flex;flex-direction:column;height:calc(100vh - 120px);overflow:hidden}.input-container   input{background-color:var(--be-background)}.actions{margin-bottom:25px;flex-shrink:0}.errors{color:#f44336;flex-shrink:0}.errors   .error{padding:5px 0}.editor-container{flex:1 1 auto}text-editor{max-height:none}
