/* extracted from production bundle */
:host{display:block;position:absolute;background:#43a047;color:#fff;padding:5px;box-shadow:0 5px 10px #0000001a;width:160px;text-align:center;top:21px;right:-45px;transform:rotate(45deg);letter-spacing:.5px}
